# BSV Wallet Configuration
MEDICAL_LICENSE_CERTIFIER=your_medical_license_certifier_key_here
PLATFORM_FUNDING_KEY=your_platform_funding_key_here
FEE_PER_KB=1

# Development Configuration
MOCK_UTXOS=false
NODE_ENV=development

# DID Configuration
DID_TOPIC=tm_did
DID_TOPIC_SERVICE=ls_did

# VC Configuration
VC_TOPIC=tm_vc
VC_TOPIC_SERVICE=ls_vc

# Overlay Provider URL
OVERLAY_PROVIDER_URL=http://localhost:8080

# Database Configuration
MONGODB_URI=mongodb://localhost:27017
APP_DB_NAME=quarkid_prescriptions_db

# Server Configuration
PORT=3000

# Wallet Storage and DWN URL:
WALLET_STORAGE_URL=https://storage.babbage.systems
